doctype html
html(ng-app="myApp", lang="fa")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="images/icon/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

    link(rel="apple-touch-icon", sizes="57x57", href="images/icon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="images/icon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/icon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="images/icon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/icon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="images/icon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="images/icon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="images/icon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="images/icon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="images/icon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="images/icon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="images/icon/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="images/icon/favicon-16x16.png")
    link(rel="manifest", href="images/icon/manifest.json")
    
    title(ng-bind="(title ? title + ' | ':'') + ' میاریم!'")
    each file in assets.main.css
      link(rel='stylesheet', href= file)
  body
    .container-fluid
      nav.navbar.navbar-light.bg-faded.m-b-1
        button.navbar-toggler.hidden-sm-up(type="button", data-toggle="collapse", data-target="#exCollapsingNavbar") 
         span.fa.fa-bars.text-red-1
        #exCollapsingNavbar.collapse.navbar-toggleable-xs
          a.navbar-brand.text-red-1(ui-sref='app.home', ui-sref-active="active")
            small فروشگاه اینترنتی 
            strong میاریم‌!
          ul.nav.navbar-nav
            each cat in cats
              li.nav-item.dropdown.right-dropdown
                a.nav-link.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")= cat.name
                .dropdown-menu.cat-dropdown
                  .card-header
                    h2 
                      a(ui-sref="app.categories({name: '#{cat.name}'})")
                        small
                          span.fa.fa-codiepie
                        span.p-r-1= cat.name
                  .card-block
                    .row
                      each child in cat._children
                        .col-md-2
                          .card
                            .card-header
                              h3.text-xs-center
                                a(ui-sref="app.categories({name: '#{child.name}'})")
                                  small= child.name
                            
                            ul.list-group.list-group-flush
                              each secondChild in child._children
                                li.list-group-item
                                  a(ui-sref="app.categories({name: '#{secondChild.name}'})")= secondChild.name

            .pull-xs-left
              li.nav-item.dropdown.left-dropdown.cart-dropdown
                a.nav-link.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") 
                  span.fa.fa-shopping-cart.fa-fw
                  span سبد خرید

                .dropdown-menu(ui-view="cart")
                 


              if !user
                li.nav-item
                  a.nav-link(ui-sref='app.auth', ui-sref-active="active") ورود / ثبت نام
              else
                li.nav-item.dropdown.left-dropdown
                  a.nav-link.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                    = user.fullname

                  .dropdown-menu
                    a.dropdown-item(href="/auth/logout")
                      span.fa.fa-sign-out.fa-fw
                      span.m-r-1 خروج

                    .dropdown-divider
                    a.dropdown-item(ui-sref="app.purchases") 
                      span.fa.fa-credit-card.fa-fw
                      span.m-r-1 پیگیری سفارشات

                    if user.seller
                      a.dropdown-item(href="/panel") 
                        span.fa.fa-user.fa-fw
                        span.m-r-1 پنل کاربری

                    if user.admin
                      a.dropdown-item(href="/admin")
                        span.fa.fa-user.fa-fw
                        span.m-r-1 پنل ادمین




      block content
  

    each file in assets.main.js
      script(src= file)
    each file in assets.front.js
      script(src= file)
